/*<meta />*/

@media print
{
	*
	{
		background: transparent !important;
		color: black !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	.show-for-print
	{
		display: block !important;
	}

	.hide-for-print
	{
		display: none !important;
	}

	table.show-for-print
	{
		display: table !important;
	}

	thead.show-for-print
	{
		display: table-header-group !important;
	}

	tbody.show-for-print
	{
		display: table-row-group !important;
	}

	tr.show-for-print
	{
		display: table-row !important;
	}

	td.show-for-print
	{
		display: table-cell !important;
	}

	th.show-for-print
	{
		display: table-cell !important;
	}

	a,
	a:visited
	{
		text-decoration: underline;
	}

	a:after[href]
	{
		content: " (" attr(href) ")";
	}

	.ir a:after,
	a:after[href^='javascript:'],
	a:after[href^='#']
	{
		content: '';
	}

	abbr:after[title]
	{
		content: " (" attr(title) ")";
	}

	pre,
	blockquote
	{
		
	}

	thead
	{
		display: table-header-group;
		font-family: 'Segoe UI';
		font-size: 10pt;
	}

	table,
	td
	{
		border: 1px solid #cccccc;
	}

	tr,
	img
	{
		page-break-inside: avoid;
	}

	img
	{
		max-width: 100% !important;
	}

	p,
	h2,
	h3
	{
		orphans: 3;
		widows: 3;
	}

	h2,
	h3
	{
		page-break-after: avoid;
	}

	h1
	{
		font-size: 18pt;
		font-family: 'Segoe UI';
		font-weight: bold;
		color: #0077c0;
		column-break-before: always;
	}

	p
	{
		font-family: 'Segoe UI';
		font-size: 10pt;
	}

	h2
	{
		font-family: 'Segoe UI';
		font-size: 14pt;
		color: #0077c0;
	}

	h3
	{
		font-family: 'Segoe UI';
		font-size: 11pt;
		color: #0077c0;
	}

	h4
	{
		font-family: 'Segoe UI';
		font-size: 10pt;
		color: #0077c0;
	}

	li
	{
		font-family: 'Segoe UI';
		font-size: 10pt;
	}

	td
	{
		font-family: 'Segoe UI';
		font-size: 10pt;
	}

	th
	{
		font-family: 'Segoe UI';
		font-size: 12;
		font-weight: bold;
	}

	.callout,
	.warning
	{
		font-family: 'Segoe UI';
		font-size: 10;
	}

	caption
	{
		font-family: 'Segoe UI';
	}

	div.documentation-header,
	div.header-cta,
	a.navbar-brand,
	div.breadcrumbsfix,
	div#nav-accordion,
	#tutorial-progress,
	div#feedback,
	span.title-bar-title,
	#second-footer
	{
		display: none !important;
	}
}

