/*<meta />*/

@media screen and (min-width: 1280px)
{
	html.left-layout #contentBody
	{
		left: 218px;
		right: 0px;
	}
}

body
{
	margin: 17px;
	padding: 0;
	color: #000000;
	font-family: "SamsungIF Rg", Arial, sans-serif;
	font-size: 11pt;
	background: none;
}

#header
{
	height: 75px;
	background-color: #ffffff;
	display: none;
}

#header .logo
{
	background: transparent url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/prettify/Images/Samsung_KNOX_Logo_Hor_WHT_MODIFIED_AA.png') no-repeat center center;
	width: 220px;
	height: 37px;
	margin-top: -18px;
}

#header .logo > img
{
	border: none;
	width: 160px;
	height: 37px;
}

#body
{
	top: 0px;
}

#navigation
{
	bottom: 0;
	width: 219px;
}

#navigation.nav-closed
{
	display: none !important;
}

#navigationResizeBar
{
	display: none !important;
}

html.left-layout #navigationResizeBar
{
	left: 297px;
}

#show-hide-navigation
{
	display: none;
	/* Modified */
}

html.left-layout #show-hide-navigation:after
{
	color: #898989;
	border-right-color: #898989;
}

html.left-layout .nav-closed #show-hide-navigation:after
{
	border-left-color: #898989;
}

html.right-layout #show-hide-navigation
{
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
	-webkit-box-shadow: -2px 0px 3px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: -2px 0px 3px 0px rgba(0, 0, 0, 0.3);
	box-shadow: -2px 0px 3px 0px rgba(0, 0, 0, 0.3);
	width: 10px;
	height: 46px;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -23px;
	cursor: pointer;
}

#responsiveHeader
{
	display: none;
	background-repeat: no-repeat;
	background: transparent none;
	background: -moz-linear-gradient(top, #0689d8 0%, #0689d8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0689d8), color-stop(100%,#0689d8));
	background: -webkit-linear-gradient(top, #0689d8 0%, #0689d8 100%);
	background: -o-linear-gradient(top, #0689d8 0%,#0689d8 100%);
	background: -ms-linear-gradient(top, #0689d8 0%,#0689d8 100%);
	background: linear-gradient(top, #0689d8 0%,#0689d8 100%);
	-pie-background: linear-gradient(#0689d8, #0689d8);
}

#responsiveHeader .logo
{
	height: 100%;
	display: block;
	alt-text: Logo;
	width: 160px;
	background: transparent url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/prettify/Images/Samsung_KNOX_Logo_Hor_WHT_MODIFIED_AA.png') no-repeat center center;
	background: url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/prettify/Images/Samsung_KNOX_Logo_Hor_WHT_MODIFIED_AA.png') no-repeat center center, -moz-linear-gradient(top, #0689d8 0%, #0689d8 100%);
	background: url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/prettify/Images/Samsung_KNOX_Logo_Hor_WHT_MODIFIED_AA.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0689d8), color-stop(100%,#0689d8));
	background: url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/prettify/Images/Samsung_KNOX_Logo_Hor_WHT_MODIFIED_AA.png') no-repeat center center, -webkit-linear-gradient(top, #0689d8 0%, #0689d8 100%);
	background: url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/prettify/Images/Samsung_KNOX_Logo_Hor_WHT_MODIFIED_AA.png') no-repeat center center, -o-linear-gradient(top, #0689d8 0%,#0689d8 100%);
	background: url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/prettify/Images/Samsung_KNOX_Logo_Hor_WHT_MODIFIED_AA.png') no-repeat center center, -ms-linear-gradient(top, #0689d8 0%,#0689d8 100%);
	background: url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/prettify/Images/Samsung_KNOX_Logo_Hor_WHT_MODIFIED_AA.png') no-repeat center center, linear-gradient(top, #0689d8 0%,#0689d8 100%);
	-pie-background: url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/prettify/Skins/Default/Stylesheets/Images/Samsung_KNOX_Logo_Hor_WHT_MODIFIED_AA.png') no-repeat center center, linear-gradient(#0689d8, #0689d8);
}

#responsiveHeader .logo > img
{
	width: 160px;
	height: 37px;
}

/* Tabs */

.tabs-nav .tab-collapsed
{
	/*width: auto;*/
}

.tab-collapsed .tabs-nav-text
{
	/*display: none;*/
}

.tabs-nav .tab-collapsed
{
	/*width: auto;*/
}

#IndexTab
{
	display: none;
}

#GlossaryTab
{
	display: none;
	/* Modified */
}

.tabs-nav-text
{
	display: block;
	width: 100%;
	text-align: left;
	font-size: 20px;
	color: #989898;
	background-color: #F1F1F1;
	height: 49px;
	line-height: 49px;
	font-weight: 900;
	margin-top: 10px;
	margin-left: 11px;
}

#IndexTab .tabs-nav-text
{
	border-left: none;
}

.tab.active .tabs-nav-text
{
	background-color: #FFFFFF;
	color: #000000;
}

/*Search Styles*/

#responsive-search-index,
#responsive-search-glossary
{
	display: none;
}

.tabs-panel-search
{
	height: 36px;
}

/* TOC */

ul.tree
{
	font-size: 14px;
}

.tree-node div
{
	line-height: 2.4em;
	color: #0689D8;
	max-width: 94%;
}

.tree-node.tree-node-collapsed > div
{
	padding-left: 26px;
	background: transparent url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Images/right-arrow.png') no-repeat 14px 9px;
	-pie-background: transparent url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Images/right-arrow.png') no-repeat 14px 9px;
}

.tree-node.tree-node-expanded > div
{
	padding-left: 26px;
	background: transparent url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Images/arrow_open.png') no-repeat 6px 12px;
	-pie-background: transparent url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Images/arrow_open.png') no-repeat 6px 12px;
}

.tree-node.tree-node-leaf > div
{
	padding-left: 26px;
	background: none;
}

.tree-node.tree-node-selected > div,
.web .tree-node.tree-node-selected > div:hover
{
	
}

.web .tree-node > div:hover
{
	
}

.tree-node a
{
	display: inline-block;
	color: #0689d8;
	white-space: pre-wrap;
	line-height: 1.3em;
}

.tree-node a:hover
{
	color: #70c4e0;
}

/* Topic */

#contentBody
{
	right: 0px;
	background-color: #EDEDED;
}

#contentBodyInner
{
	right: 0px;
	left: 0px;
	top: 49px;
}

.search-bar
{
	border-top: solid 1px #0A0A0A;
	border-right: solid 1px #0A0A0A;
	border-bottom: solid 1px #0A0A0A;
	border-left: solid 1px #0A0A0A;
	display: none;
}

.tab
{
	width: 50%;
}

.tabs-nav li
{
	width: 100%;
}

.tabs-nav li.tabs-nav-inactive
{
	color: #ededed;
	-moz-box-shadow: inset 0px 4px 9px rgba(0, 0, 0, 0.09);
	-webkit-box-shadow: inset 0px 4px 9px rgba(0, 0, 0, 0.09);
	box-shadow: inset 0px 4px 9px rgba(0, 0, 0, 0.09);
	height: 49px;
}

.tabs-nav li.tabs-nav-active
{
	border: none;
}

.tabs-panel
{
	top: 49px;
}

.tabs-panel-content
{
	border-top: none;
	border-left: none;
	top: 0px;
	right: 0px;
	left: 0px;
}

.toc-icon
{
	display: none;
}

#contentBody
{
	width: 722px;
}

#toc > ul.tree
{
	margin-top: 10px;
	margin-left: -10px;
}

.web .tree-node.tree-node-collapsed > div:hover
{
	background: url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Images/right-arrow.png') no-repeat 14px 9px;
}

.tree-node.tree-node-collapsed.tree-node-selected > div
{
	background: transparent url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Images/right-arrow.png') no-repeat 14px 9px;
	-pie-background: transparent url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Images/right-arrow.png') no-repeat 14px 9px;
	background: url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Images/right-arrow.png') no-repeat 14px 9px;
}

.web .tree-node.tree-node-collapsed.tree-node-selected > div:hover
{
	background: url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Images/right-arrow.png') no-repeat 14px 9px;
}

.web .tree-node.tree-node-expanded > div:hover
{
	background: url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Images/arrow_open.png') no-repeat 6px 12px;
}

.tree-node.tree-node-expanded.tree-node-selected > div
{
	background: transparent url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Images/arrow_open.png') no-repeat 6px 12px;
	-pie-background: transparent url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Images/arrow_open.png') no-repeat 6px 12px;
	background: url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Images/arrow_open.png') no-repeat 6px 12px;
}

.web .tree-node.tree-node-expanded.tree-node-selected > div:hover
{
	background: url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Images/arrow_open.png') no-repeat 6px 12px;
}

.web .tree-node.tree-node-leaf > div:hover
{
	background: none;
}

.tree-node.tree-node-leaf.tree-node-selected > div
{
	background: none;
}

.web .tree-node.tree-node-leaf.tree-node-selected > div:hover
{
	background: none;
}

.web .tree > .tree-node.tree-node-selected > div:hover
{
	color: #000000;
}

#index .tree-node.tree-node-selected > div
{
	background-color: #FFFFFF;
}

.tab-icon #IndexTab.tabs-nav-active .tabs-nav-icon
{
	display: none;
}

.tabs-nav li#TocTab.tabs-nav-active
{
	background: #FFFFFF;
}

.tab-icon #TocTab.tabs-nav-active .tabs-nav-icon
{
	display: none;
}

.tab-icon #CommunityTab.tabs-nav-inactive .tabs-nav-icon
{
	display: none;
}

.tab-icon #GlossaryTab.tabs-nav-inactive .tabs-nav-icon
{
	display: none;
}

.tab-icon #IndexTab.tabs-nav-inactive .tabs-nav-icon
{
	display: none;
}

.tab-icon #TocTab.tabs-nav-inactive .tabs-nav-icon
{
	display: none;
}

li.tree-node.tree-node-selected > div > span.label > a
{
	font-weight: 700;
}

/* font-size: */

@font-face {
  font-family: "SamsungIF Rg";
  src: url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Scripts/prettify/Fonts/SamsungIF_Rg.eot');
  src: url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Scripts/prettify/Fonts/SamsungIF_Rg.eot?') format('embedded-opentype'),
       url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Scripts/prettify/Fonts/SamsungIF_Rg.woff') format('woff'),
       url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Scripts/prettify/Fonts/SamsungIF_Rg.ttf') format('truetype'),
       url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Scripts/prettify/Fonts/SamsungIF_Rg.svg') format('svg');
       font-style: normal;
       font-weight: normal;
} 

@font-face {
  font-family: "SamsungIF Rg";
  src: url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Scripts/prettify/Fonts/SamsungIF_Bd.eot');
  src: url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Scripts/prettify/Fonts/SamsungIF_Bd.eot?') format('embedded-opentype'),
       url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Scripts/prettify/Fonts/SamsungIF_Bd.woff') format('woff'),
       url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Scripts/prettify/Fonts/SamsungIF_Bd.ttf') format('truetype'),
       url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Scripts/prettify/Fonts/SamsungIF_Bd.svg') format('svg');
       font-style: normal;
       font-weight: 700;
} 

@font-face {
  font-family: "SamsungIF Rg noSVG";
  src: url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Scripts/prettify/Fonts/SamsungIF_Rg.eot');
  src: url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Scripts/prettify/Fonts/SamsungIF_Rg.eot?') format('embedded-opentype'),
       url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Scripts/prettify/Fonts/SamsungIF_Rg.woff') format('woff'),
       url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Scripts/prettify/Fonts/SamsungIF_Rg.ttf') format('truetype'),
       url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Scripts/prettify/Fonts/SamsungIF_Rg.svg') format('svg');
} 

/* Korean Font */

@font-face {
  font-family: "Nanum Gothic";
  src: url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Scripts/prettify/Fonts/NanumGothic-Regular.eot');
  src: url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Scripts/prettify/Fonts/NanumGothic-Regular.eot?') format('embedded-opentype'),
       url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Scripts/prettify/Fonts/NanumGothic-Regular.ttf') format('truetype');
       font-style: normal;
       font-weight: normal;
} 

@font-face {
  font-family: "Nanum Gothic";
  src: url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Scripts/prettify/Fonts/NanumGothic-Bold.eot');
  src: url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Scripts/prettify/Fonts/NanumGothic-Bold.eot?') format('embedded-opentype'),
       url('https://docs.samsungknox.com/temp/dev/Resources/MasterPages/Scripts/prettify/Fonts/NanumGothic-Bold.ttf') format('truetype');
       font-style: normal;
       font-weight: 700;
} 

p
{
	font-family: 'Segoe UI';
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

ol
{
	font-family: 'Segoe UI';
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

ul.ul_1
{
	font-family: 'Segoe UI';
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

li.li_1
{
	width: 100%;
	font-family: 'Segoe UI';
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

td
{
	font-family: 'Segoe UI';
	vertical-align: top;
}

p.Header
{
	font-family: 'Segoe UI';
}

p.Footer
{
	font-family: 'Segoe UI';
}

h1.Chaptername
{
	page-break-before: always;
	margin-top: 48pt;
	mc-heading-level: 1;
	font-family: 'Segoe UI';
	font-size: 20pt;
}

p.Body
{
	margin-bottom: 10pt;
	margin-left: 36pt;
	font-family: 'Segoe UI';
}

h2.Heading1
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 24pt;
	margin-bottom: 6pt;
	mc-heading-level: 1;
	font-family: 'Segoe UI';
	color: #0070C0;
	font-size: 14pt;
	font-weight: normal;
}

h3.Heading2
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-bottom: 6pt;
	color: #0070C0;
	font-weight: normal;
	margin-top: 10pt;
	mc-heading-level: 2;
	font-family: 'Segoe UI';
	font-size: 12pt;
	margin-left: 0;
}

a.Hyperlink
{
	color: #0000FF;
	text-decoration: underline;
}

p.Code
{
	page-break-inside: avoid;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #000000;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #000000;
	margin-left: 54pt;
	font-family: 'Courier New';
	font-size: 9pt;
}

span.Hyperlink
{
	color: #0000FF;
	text-decoration: underline;
}

p.Hyperlink
{
	color: #0000FF;
	text-decoration: underline;
}

h3.Heading3
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-bottom: 10pt;
	mc-heading-level: 3;
	font-family: 'Segoe UI';
	color: #0070C0;
	font-weight: normal;
	margin-left: 0;
}

p.m1
{
	color: #0000FF;
}

span.m1
{
	color: #0000FF;
}

li.ListBullet
{
	margin-bottom: 10pt;
	font-family: 'Segoe UI';
}

p.Body_1
{
	margin-bottom: 10pt;
	font-family: 'Segoe UI';
	margin-left: 0pt;
}

li.ListBullet_1
{
	margin-bottom: 10pt;
	font-family: 'Segoe UI';
	list-style-type: disc;
}

ul.ul_2
{
	list-style-type: disc;
	margin-left: 19pt;
}

p.Body_2
{
	margin-bottom: 10pt;
	font-family: 'Segoe UI';
	page-break-after: avoid;
	margin-left: 0pt;
}

span.span_1
{
	font-family: 'Courier New';
}

span.span_2
{
	font-style: italic;
}

li.ListNumber
{
	margin-bottom: 10pt;
	font-family: 'Segoe UI';
}

img.img_1
{
	visibility: visible;
	mso-wrap-style: square;
}

p.p_1
{
	text-align: center;
}

ol.ol_1
{
	list-style-type: decimal;
	margin-left: 19pt;
}

p.Code_1
{
	page-break-inside: avoid;
	font-family: 'Courier New';
	border-top-style: none;
	border-top-width: 0pt;
	border-top-color: black;
	border-left-style: none;
	border-left-width: 0pt;
	border-left-color: black;
	border-bottom-style: none;
	border-bottom-width: 0pt;
	border-bottom-color: black;
	border-right-style: none;
	border-right-width: 0pt;
	border-right-color: black;
	margin-left: 0pt;
	font-size: 8pt;
}

p.Code_2
{
	page-break-inside: avoid;
	font-family: 'Courier New';
	font-size: 9pt;
	border-top-style: none;
	border-top-width: 0pt;
	border-top-color: black;
	border-left-style: none;
	border-left-width: 0pt;
	border-left-color: black;
	border-bottom-style: none;
	border-bottom-width: 0pt;
	border-bottom-color: black;
	border-right-style: none;
	border-right-width: 0pt;
	border-right-color: black;
	margin-left: 0pt;
}

p.Code_3
{
	page-break-inside: avoid;
	font-family: 'Courier New';
	border-top-style: none;
	border-top-width: 0pt;
	border-top-color: black;
	border-left-style: none;
	border-left-width: 0pt;
	border-left-color: black;
	border-bottom-style: none;
	border-bottom-width: 0pt;
	border-bottom-color: black;
	border-right-style: none;
	border-right-width: 0pt;
	border-right-color: black;
	margin-left: 0pt;
	color: #548DD4;
	font-size: 8pt;
}

span.span_3
{
	font-size: 8pt;
}

span.span_4
{
	font-weight: bold;
	font-size: 8pt;
}

td.td_1
{
	background-color: #F2F2F2;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #000000;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
}

table.table_1
{
	margin-left: 5pt;
	background-color: #F2F2F2;
	border-collapse: collapse;
}

p.p_2
{
	text-align: justify;
}

span.span_5
{
	font-family: 'Courier New';
	font-size: 8pt;
}

span.span_6
{
	font-family: 'Courier New';
	font-style: italic;
	font-size: 8pt;
}

table.table_2
{
	margin-left: 23pt;
	background-color: #F2F2F2;
	border-collapse: collapse;
}

span.span_7
{
	color: #548DD4;
	font-size: 8pt;
}

table.table_3
{
	background-color: #F2F2F2;
	border-collapse: collapse;
}

p.Body_3
{
	margin-bottom: 10pt;
	font-family: 'Segoe UI';
	margin-left: 0pt;
	text-align: center;
}

li.Hyperlink
{
	color: #0000FF;
	text-decoration: underline;
}

h4.Heading3
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-bottom: 10pt;
	mc-heading-level: 3;
	font-family: 'Segoe UI';
	color: #0070C0;
	font-weight: normal;
	margin-left: 0;
}

p.Code_4
{
	page-break-inside: avoid;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #000000;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #000000;
	font-family: 'Courier New';
	font-size: 9pt;
	margin-right: 5pt;
	page-break-after: avoid;
	margin-left: 0pt;
}

p.Code_5
{
	page-break-inside: avoid;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #000000;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #000000;
	font-family: 'Courier New';
	margin-right: 5pt;
	page-break-after: avoid;
	margin-left: 0pt;
	font-size: 8pt;
}

div.div_1
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #000000;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #000000;
}

p.Body_4
{
	font-family: 'Segoe UI';
	margin-bottom: 0pt;
	margin-left: 0pt;
}

p.Code_6
{
	page-break-inside: avoid;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #000000;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #000000;
	font-family: 'Courier New';
	font-size: 9pt;
	margin-right: 5pt;
	margin-left: 0pt;
}

p.Body_5
{
	font-family: 'Segoe UI';
	margin-bottom: 0pt;
	margin-left: 0pt;
	text-align: justify;
}

p.m1_1
{
	margin-right: 5pt;
	page-break-inside: avoid;
	margin-left: 0pt;
	color: black;
	font-size: 8pt;
}

span.m1_1
{
	color: black;
	font-size: 8pt;
}

p.m1_2
{
	margin-right: 5pt;
	page-break-after: avoid;
	margin-left: 0pt;
	color: black;
	font-size: 8pt;
}

p.Code_7
{
	page-break-inside: avoid;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #000000;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #000000;
	font-family: 'Courier New';
	margin-right: 5pt;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	margin-left: 0pt;
	font-size: 8pt;
}

p.Code_8
{
	page-break-inside: avoid;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #000000;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #000000;
	font-family: 'Courier New';
	margin-right: 5pt;
	orphans: 2;
	widows: 2;
	margin-left: 0pt;
	font-size: 8pt;
}

p.Code_9
{
	page-break-inside: avoid;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #000000;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #000000;
	font-family: 'Courier New';
	font-size: 9pt;
	margin-right: 5pt;
	orphans: 2;
	widows: 2;
	margin-left: 0pt;
}

p.Code_10
{
	page-break-inside: avoid;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #000000;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #000000;
	font-family: 'Courier New';
	margin-right: 5pt;
	margin-left: 0pt;
	font-size: 8pt;
}

p.Body_6
{
	margin-bottom: 10pt;
	font-family: 'Segoe UI';
	margin-left: 0pt;
	color: #FF0000;
}

li.ListParagraph
{
	margin-left: 36pt;
	font-family: 'Times New Roman';
}

span.span_8
{
	font-family: 'Courier New';
	color: #C00000;
	text-decoration: underline;
}

span.span_9
{
	font-family: 'Courier New';
	color: #00B050;
	text-decoration: underline;
}

p.Body_7
{
	margin-bottom: 10pt;
	font-family: 'Segoe UI';
	margin-left: 0pt;
	font-style: italic;
}

li.ListBullet_2
{
	margin-bottom: 10pt;
	font-family: 'Segoe UI';
	list-style-type: disc;
	font-style: italic;
}

span.span_10
{
	font-family: 'Courier New';
	font-style: italic;
}

li.ListParagraph_1
{
	margin-left: 36pt;
	font-family: 'Segoe UI';
}

ol.ol_2
{
	list-style-type: lower-alpha;
	margin-left: 37pt;
}

p.p_3
{
	margin-left: 18pt;
}

p.Body_8
{
	margin-bottom: 10pt;
	font-family: 'Segoe UI';
	margin-left: 0pt;
	color: #0070C0;
}

p.Body_9
{
	margin-bottom: 10pt;
	font-family: 'Segoe UI';
	margin-left: 0pt;
	font-size: 8pt;
}

p.Body_10
{
	margin-bottom: 10pt;
	font-family: 'Segoe UI';
	page-break-after: avoid;
	margin-left: 0pt;
	color: #0070C0;
}

p.p_4
{
	font-size: 36pt;
}

span.span_11
{
	font-size: 36pt;
}

span.span_12
{
	font-weight: bold;
}

span.span_13
{
	font-family: Arial;
	font-style: italic;
	color: #1F497D;
}

div.div_2
{
	border-bottom-style: solid;
	border-bottom-width: 2pt;
	border-bottom-color: #1F497D;
}

p.Header_1
{
	font-family: 'Segoe UI';
	border-top-style: solid;
	border-top-width: 2pt;
	border-top-color: #1F497D;
}

/* ################## Prettify Styles - Begin ###################### */

.pln
{
	color: #000;
}

@media screen
{
	.str
	{
		color: #080;
	}

	.kwd
	{
		color: #008;
	}

	.com
	{
		color: #800;
	}

	.typ
	{
		color: #606;
	}

	.lit
	{
		color: #066;
	}

	.pun,
	.opn,
	.clo
	{
		color: #660;
	}

	.tag
	{
		color: #008;
	}

	.atn
	{
		color: #606;
	}

	.atv
	{
		color: #080;
	}

	.dec,
	.var
	{
		color: #606;
	}

	.fun
	{
		color: red;
	}
}

@media print, projection
{
	.str
	{
		color: #060;
	}

	.kwd
	{
		color: #006;
		font-weight: bold;
	}

	.com
	{
		color: #600;
		font-style: italic;
	}

	.typ
	{
		color: #404;
		font-weight: bold;
	}

	.lit
	{
		color: #044;
	}

	.pun,
	.opn,
	.clo
	{
		color: #440;
	}

	.tag
	{
		color: #006;
		font-weight: bold;
	}

	.atn
	{
		color: #404;
	}

	.atv
	{
		color: #060;
	}
}

pre.prettyprint
{
	padding: 2px;
	border: 1px solid #888;
}

ol.linenums
{
	margin-top: 0;
	margin-bottom: 0;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8
{
	list-style-type: none;
}

li.L1,
li.L3,
li.L5,
li.L7,
li.L9
{
	background: #eee;
}

/* ################## Prettify Styles - End ###################### */

