@font-face {
    font-family: 'SamsungOne';
    src: url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.eot);
    src: url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.eot?#iefix) format("embedded-opentype"),
    url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.woff2) format("woff2"),
    url(kpp-madcap.css) format("woff"),
    url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.ttf) format("truetype");
}
@font-face {
    font-family: 'SamsungSharpSans';
    src: url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungSharpSansBd.eot);
    src: url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungSharpSansBd.eot?#iefix) format("embedded-opentype"),
    url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungSharpSansBd.woff) format("woff");
    font-weight: bold;
    font-style: normal
}

/*****Custom Body Styles*****/


h1 {
	font-size: 2.5rem;

}


h3 {
	padding-top: 10px;
}

h4 {
	font-size: 1.2rem;
	padding-top: 10px;
}



table thead {
	background: #217acb;
	color: white;
	font-style: bold;
	border-bottom: 2px solid #cccccc;
}

div.redoc-markdown table thead {
	color: black;
	font-style: bold;
	border-bottom: 2px solid #cccccc;
}


hr {
	border-bottom: 1.1px solid e2dede;
}


aside a {
	color: #3C3C3C;
}


table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0;
}

tbody, tfoot {
    border: 1px solid #f1f1f1;
    background-color: #fefefe;
}

caption {
    padding: 0.5rem 0.625rem 0.625rem;
    font-weight: bold;
}


tfoot {
    background: #f1f1f1;
    color: #0a0a0a;
}

tfoot tr {
    background: transparent;
}

tfoot th,
tfoot td {
    padding: 0.5rem 0.625rem 0.625rem;
    font-weight: bold;
    text-align: left;
}

tbody th, tbody td {
    padding: 0.5rem 0.625rem 0.625rem;
}

 tbody tr:nth-child(even) {
    border-bottom: 0;
    background-color: #f1f1f1;
}

 table.unstriped tbody {
    background-color: #fefefe;
}

table.unstriped tbody tr {
      background-color: #fefefe;
}

table.unstriped tbody td {
    border: 1px solid #cccccc;
}

td{
	padding: 5px!important
}


.note {
	padding: 0 0 0 20px;
	border-left: 3px solid;
	margin: 16px 0;
}

.td-multirow-span-light {
	background-color: #f1f1f1;
}

.clean {
	border: 0px solid #ffffff;
	display: inherit;
	margin-left: inherit;
	margin-right: inherit;
	width: initial;
}

.active {
	font-weight: bold;
	/* padding-left: 10px;
	border-left: 4px solid #217ACB; */
	color: #0275d8;
}


.MCDropDown {
	border: 1px solid #d2d2d2;
	padding: 15px;
	margin-bottom: 10px;

}


ul.menu li> a.selected {
	color: #217ACB;
	font-weight: bold;
	transition: background-color 0.2s ease;
	color: #217ACB;
	border-left: 3px solid #217ACB;
	/* background-color: #f3f3f3; */

}

footer > ul { display:none;}

/*****Custom Header Styles*****/

.search {
	padding-bottom: 20px
}

.search,
.search-bar {
	width: 100%;
	position: relative;
	color: #DADADA;
	margin: 0 auto;
	padding-top: 7px;
	padding-right: 5px;
}

._Skins_SearchBar.mc-component .search-field {
	height: 38px;
}

.mc-component._Skins_SearchBar.search-bar {
	padding-top: 12px;
}

.search-submit-wrapper {
	padding-top: 16px;
}

.mc-component._Skins_SearchBar.search-bar {
	width: 99%
}

.mc-component._Skins_SearchBar .search-submit {
	width: 3em;
}

.search-bar._Skins_SearchBar.mc-component {
	padding-top: 13px;
}


nav.navbar.navbar-light {
	border: none;
	border-bottom: 1px solid #DDD;
	color: #363636;
	height: 50px;
}


#mega-nav {padding-left:3px;}

.navbar-brand {
    margin-left: 2px;
}

/**Was this usefull **/

.feedback-reason {
	display: none;
}

.feedback-question i:hover,
.feedback-question i:focus,
.feedback-question i:active {
	cursor: pointer;
}


/*****Custom structure Styles*****/

.toc-outside {
	border-left: solid 1.5px #e2dede;
	     margin-left: -35px;
}
.toc-inside {
	margin-left: -10px;
	margin-bottom: 30px;
}

.toc-inside li {
	list-style-type: none;
}

@media (max-width: 500px) {
	.toc-outside {
		display:none;
	}
}

.helpful {
	float: right;
	margin-top: -34px;
}



@media only screen and (max-width: 1090px) and (min-width: 625px) {
	.breadcrumbsfix {
		display: none
	}
}

@media (max-width: 768px) {
	.breadcrumbs {
		padding-left: 20px
	}
}


.breadcrumbs {
    list-style: none;
    margin: 0 0 0rem 0;
}



.documentation-header{
	background-color:#1428A0;

}
.documentation-title {
	font-family: SamsungOne;
	font-weight: 700;
	background-color:#1428A0;
	margin:0;
	padding-top:20px;
	padding-bottom:20px;
	color:white;
}


#page-content {
	  background-color: #f2f2f2;
}

#topic-content {
	background-color:white
}

.knox-product {
	margin-top: 30px;
    margin-bottom: 40px;

}

.knox-product-image{

	    height: 70px;
    float: left;
    margin-top: -81px;
	    z-index: 1000;
}

.page-header{


    margin-left: 95px;


}

.breadcrumbs {

	margin-left: -16px!important;
}

/*****Search results*****/
._Skins_SearchResults.mc-component #resultList h3.title a {
	font-size: 20px;
	line-height: 1.3;
	color: #1a0dab;
	font-family: Roboto,arial,sans-serif;
}

._Skins_SearchResults.mc-component #resultList h3.title a:visited {
	color: #609;
}

._Skins_SearchResults.mc-component #resultList .description {
	line-height: 1.5;
}


/* ################## Prettify Styles - Begin ###################### */


/* GitHub Theme */

.prettyprint {
    display: block;
    padding: .5em;
    margin: .5em;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    color: #222;
    line-height: 1.3;
    overflow: auto;
    display: block;
    padding: 10.5px;
    margin: 0 0 11px;
    font-size: 15px;
    line-height: 1.5;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 0;
}


}

}
.prettyprint2 {
    background: white;
    font-size: inherit;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-top: 0px solid #ccc;
    padding: 10px;
    font-family: 'Courier';
    margin-bottom: 20px;
}
.pln {
    color: #333333;
}
p {}
ul {}
li {}
#resultList {}
.var {}
.typ {}
.tag {}
.str {}
.pun {}
.opn {}
.lit {}
.kwd {}
.fun {}
.dec {}
.com {}
.atv {}
.atn {}
._Skins_SearchResults {
    font-family: 'SamsungOne';
}
dt::before {
    font-family: 'SamsungOne';
}
h3.title {
    font-family: 'SamsungOne';
}
li.L9 {
    font-family: 'SamsungOne';
}
li.L8 {
    font-family: 'SamsungOne';
}
li.L7 {
    font-family: 'SamsungOne';
}
li.L6 {
    font-family: 'SamsungOne';
}
li.L5 {
    font-family: 'SamsungOne';
}
li.L4 {
    font-family: 'SamsungOne';
}
li.L3 {
    font-family: 'SamsungOne';
}
li.L2 {
    font-family: 'SamsungOne';
}
li.L1 {
    font-family: 'SamsungOne';
}
li.L0 {
    font-family: 'SamsungOne';
}
li.is-accordion-submenu-parent {
    font-family: 'SamsungOne';
}
li.is-accordion-submenu-item:not(.is-accordion-submenu-parent) {
    font-family: 'SamsungOne';
}
li.is-accordion-submenu-item {
    font-family: 'SamsungOne';
}
li:not(.is-accordion-submenu-parent) {
    font-family: 'SamsungOne';
}
a.selected {
    font-family: 'SamsungOne';
}
ul.menu {
    font-family: 'SamsungOne';
}
@media screen {
    .str {
        color: #dd1144;
    }
    .kwd {
        color: #333333;
    }
    .com {
        color: #999988;
    }
    .typ {
        color: #445588;
    }
    .lit {
        color: #445588;
    }
    .pun {
        color: #333333;
    }
    .opn {
        color: #333333;
    }
    .clo {
        color: #333333;
    }
    .tag {
        color: navy;
    }
    .atn {
        color: teal;
    }
    .atv {
        color: #dd1144;
    }
    .dec {
        color: #333333;
    }
    .var {
        color: teal;
    }
    .fun {
        color: #990000;
    }
    body {
        mc-hyphenate: never;
    }
    li {
        mc-hyphenate: never;
    }
    ol {
        mc-hyphenate: never;
    }
    ul {
        mc-hyphenate: never;
    }
    p {
        mc-hyphenate: never;
    }
    a {
        mc-hyphenate: never;
    }
    html {
        mc-hyphenate: never;
    }
    table {
        border: solid 1px;
        border-left: solid 1px;
        border-right: solid 1px;
        border-top: solid 1px;
    }
}
@media print,
projection {
    .str {
        color: #006600;
    }
    .kwd {
        color: #006;
        font-weight: bold;
    }
    .com {
        color: #600;
        font-style: italic;
    }
    .typ {
        color: #404;
        font-weight: bold;
    }
    .lit {
        color: #004444;
    }
    .pun,
    .opn,
    .clo {
        color: #444400;
    }
    .tag {
        color: #006;
        font-weight: bold;
    }
    .atn {
        color: #440044;
    }
    .atv {
        color: #006600;
    }
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'SamsungOne';
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
    /* */
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
    /* */
}

h2 > a {

}

/* ################## Prettify Styles - End ###################### */

/***** above is 100% good. Below is old, find what is fixing the header.. *****/

nav.navbar.navbar-light .nav-link {
    color: #000;
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #000;
}


.menu > li > a {
	    line-height: inherit;
}



.MCDropDownBody {

    padding-top: 20px;
}

p.img {
			display: block;
			margin-left: auto;
			margin-right: auto;

			}



 li img {
    /*css code*/

    margin-top:10px;
	margin-bottom:10px;
}


/* Set menus to be initially hidden, to prevent FOUC (flash of unstyled content). The menus can initially appear unformatted before all scripts have run, which was evident in Chrome browser especially. So we hide the menus in the CSS, and then display them in the script (using display:block), after they have been manipulated.  */

#nav-accordion,
#nav-drilldown {
    display: none;
}

#footer-area
/* footer container */

{
    padding: 0.5rem;
    background-color: #f3f3f3;
}


.tabs {

    border: 1px solid rgb(210, 210, 210);
}

/*hoverable color changing button*/
.hover-button {
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight:bold
  margin: 4px 2px;
  cursor: pointer;
   border-radius: 25px;
}

.hover-button-white {
  text-decoration: none;
  background-color: white;
  color: black;
  border: 2px solid #000000;
}

.hover-button-white:hover {
  text-decoration: none;
  background-color: #000000;
  color: white;
}

.hover-button-black {
  text-decoration: none;
  background-color: black;
  color: white;
  border: 2px solid #000000;
}

.hover-button-black:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: black;
}

/*Bug Fixes 2019-10-24*/
/*Fix padding around the breadcumb*/
.breadcrumbs {
  margin-left: -14px !important;
  margin-top: 10px !important;
}

/*removes extra white padding on the top of the footer*/
#second-footer {
  margin-top: 0px !important;
}

/*back-to-top button*/

#back-to-top {
  background-image:url(https://partner.samsungknox.com/sites/all/themes/seaptheme/images/backtotop.png);
  background-size:48px 48px;
  background-repeat: no-repeat;
  height:48px;
  width:48px;
  position: fixed;
  bottom:17px;
  right:17px;
  visibility: hidden;
  opacity:0;
  transition: visibility 0s,opacity 0.7s linear;
  cursor: pointer;}
  
  /*clickable-images-feel*/
  
  .hyperlinked-image {
    border: solid 4px #fefefe;
    display: inline-block;
    line-height: 0;
    max-width: 100%;
    transition: box-shadow 200ms ease-out;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.hyperlinked-image:hover,
.hyperlinked-image:focus {
    box-shadow: 0 0 6px 1px rgba(43, 166, 203, 0.5);
}

.description {
    overflow: hidden;
    max-width: 100%;
    display: block;
    white-space: normal;
}