/*<meta />*/

@font-face {
    font-family: 'SamsungOne';
    src: url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.eot);
    src: url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.eot?#iefix) format("embedded-opentype"),
    url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.woff2) format("woff2"),
    url() format("woff"),
    url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.ttf) format("truetype");
}

@font-face {
    font-family: 'SamsungSharpSans';
    src: url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungSharpSansBd.eot);
    src: url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungSharpSansBd.eot?#iefix) format("embedded-opentype"),
    url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungSharpSansBd.woff) format("woff");
    font-weight: bold;
    font-style: normal
}

/*****Custom Body Styles*****/

h1
{
	font-size: 2.5rem;
}

h3
{
	padding-top: 10px;
}

h4
{
	font-size: 1.2rem;
	padding-top: 10px;
}

/*stripe all tables (default striping from Foundation does not appear due to stylesheet layering)*/

tr:nth-child(even)
{
	background-color: #f2f2f2;
}

tr:first-child
{
	background: #217acb;
	color: white;
	font-style: bold;
	border-bottom: 2px solid #cccccc;
}

table.no-stripes tr
{
	background-color: transparent;
	color: black;
}

table.no-stripes:not(.merged-heading) tr:first-child
{
	background: #217acb;
	color: white;
	font-style: bold;
	border-bottom: 2px solid #cccccc;
}

table.no-stripes td
{
	border: 1px solid #cccccc;
}

table.kc-overview,
table.kc-overview td
{
	border: 1px solid transparent;
}

table.kc-overview tr:first-child
{
	border-bottom: 1px solid transparent;
}

table.kc-overview tr
{
	background-color: transparent;
}

hr
{
	border-bottom: 1.1px solid e2dede;
}

aside a
{
	color: #3C3C3C;
}

td
{
	padding: 5px !important;
}

.note
{
	padding: 0 0 0 20px;
	border-left: 3px solid;
	margin: 16px 0;
}

/*back to previous page button starts*/

.back::before {
  content: "<< ";
}

.back
{
  display: inline-block;
  text-align: center;
  font-weight : bold ;
  text-transform: uppercase;
	cursor: pointer;
	-webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
	vertical-align: middle;
	border: 1px solid transparent;
	border-radius: 3px;
	padding: 0.85em 1em;
	margin: 0 0 1rem 0;
	font-size: 0.9rem;
	background-color: #2ba6cb;
	color: #fefefe;
}

.back:hover,
.back:focus
{
	background-color: #258dad;
}

.back a
{
  text-decoration: none;
  color: #fefefe;
}
/*back to previous page button ends*/
.clean
{
	border: 0px solid #ffffff;
	display: inherit;
	margin-left: inherit;
	margin-right: inherit;
	width: initial;
}

.active
{
	font-weight: bold;
	/* padding-left: 10px;
	border-left: 4px solid #217ACB; */
	color: #0275d8;
}

.MCDropDown
{
	border: 1px solid #d2d2d2;
	padding: 15px;
	margin-bottom: 10px;
}

ul.menu li > a.selected
{
	color: #217ACB;
	font-weight: bold;
	transition: background-color 0.2s ease;
	color: #217ACB;
	border-left: 3px solid #217ACB;
	/* background-color: #f3f3f3; */
}

footer > ul
{
	display: none;
}

/*****Custom Header Styles*****/

.search-filter-wrapper
{
	top: 16px;
}

._Skins_SearchBar.mc-component .search-filter {
	background-size: 70px 9px;
}

._Skins_SearchBar.mc-component .search-filter.open
{
	background: #ffffff url('../../assets/merge/images/FilterOff.png') no-repeat center center;
	background-size: 70px 9px;
}

._Skins_SearchBar.mc-component .search-filter.selected {
	background: url('../../assets/merge/images/FilterOn.png') no-repeat center center, -webkit-linear-gradient(top, #e1e1e1 0%, #e1e1e1 100%);
	background-size: 70px 9px;
}

.search,
.search-bar
{
	position: relative;
	color: #DADADA;
}

._Skins_SearchBar.mc-component .search-field
{
	height: 38px;
	background-color: #e1e1e1;
}

.mc-component._Skins_SearchBar.search-bar
{
	padding-top: 12px;
}

.search-submit-wrapper
{
	padding-top: 16px;
}

.mc-component._Skins_SearchBar.search-bar
{
	width: 99%;
}

.mc-component._Skins_SearchBar .search-submit
{
	width: 3em;
}

.search-bar._Skins_SearchBar.mc-component
{
	padding-top: 13px;
}

nav.navbar.navbar-light
{
	border: none;
	border-bottom: 1px solid #DDD;
	color: #363636;
	height: 50px;
}

#mega-nav
{
	padding-left: 3px;
}

.navbar-brand
{
	margin-left: 2px;
}

/**Was this usefull **/

.feedback-reason
{
	display: none;
}

.feedback-question i:hover,
.feedback-question i:focus,
.feedback-question i:active
{
	cursor: pointer;
}

/*****Search results*****/

._Skins_SearchResults.mc-component #resultList h3.title a
{
	font-size: 20px;
	line-height: 1.3;
	color: #1a0dab;
	font-family: Roboto, arial, sans-serif;
}

._Skins_SearchResults.mc-component #resultList h3.title a:visited
{
	color: #609;
}

._Skins_SearchResults.mc-component #resultList .description
{
	line-height: 1.5;
}

/*****Custom structure Styles*****/

.toc-outside
{
	border-left: solid 1.5px #e2dede;
	margin-left: -35px;
}

.toc-inside
{
	margin-left: -10px;
	margin-bottom: 30px;
}

.toc-inside li
{
	list-style-type: none;
}

@media (max-width: 500px)
{
	.toc-outside
	{
		display: none;
	}
}

.helpful
{
	float: right;
	margin-top: -34px;
}

@media only screen and (max-width: 1090px) and (min-width: 625px)
{
	.breadcrumbsfix
	{
		display: none;
	}
}

@media (max-width: 768px)
{
	.breadcrumbs
	{
		padding-left: 20px;
	}
}

.breadcrumbs
{
	list-style: none;
	margin: 0 0 0rem 0;
}

.documentation-header
{
	background: #1279c5;
	padding-top: 5px;
	padding-bottom: 5px;
}

.documentation-title
{
	font-family: SamsungOne;
	font-weight: 700;
	background: #1279c5;
	margin: 0;
	color: white;
}

#page-content
{
	background-color: #f2f2f2;
}

#topic-content
{
	background-color: white;
}

.knox-product
{
	margin-top: 30px;
	margin-bottom: 40px;
}

.knox-product-image
{
	height: 70px;
	float: left;
	margin-top: -81px;
	z-index: 1000;
}

.page-header
{
	margin-left: 80px;
	padding-left: 5px;
}

.breadcrumbs
{
	margin-left: -16px !important;
}

/*controls the filter buttons for KSP Release Notes page*/

.filterDiv
{
	display: none;
}

.show
{
	display: block;
	border: 1px solid #d9d9d9;
	padding: 5px;
}

/***** above is 100% good. Below is old, find what is fixing the header.. *****/

nav.navbar.navbar-light .nav-link
{
	color: #000;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover
{
	color: #000;
}

.menu > li > a
{
	line-height: inherit;
}

.MCDropDownBody
{
	padding-top: 20px;
}

/* Set a default solid light gray border with padding around all images*/

img
{
	border: solid lightgray 1.5px;
	margin-bottom: 5px;
	max-width: 100%;
	height: auto;
}

p.img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

li img
{
	/*css code*/
	margin-top: 10px;
	margin-bottom: 10px;
}

/* no-border class removes the border from specified images */

img.no-border
{
	border: none;
}

/* removes borders from feedback module images */

#feedback-survey img
{
	border: none;
}

/* Set menus to be initially hidden, to prevent FOUC (flash of unstyled content). The menus can initially appear unformatted before all scripts have run, which was evident in Chrome browser especially. So we hide the menus in the CSS, and then display them in the script (using display:block), after they have been manipulated.  */

#nav-accordion,
#nav-drilldown
{
	display: none;
}

#footer-area	/* footer container */
{
	padding: 0.5rem;
	background-color: #f3f3f3;
}

.tabs
{
	border: 1px solid rgb(210, 210, 210);
}

/*hero banners on welcome page*/

.section-hero
{
	background-color: rgb(0, 0, 0);
	background-size: cover;
	height: 250px;
	text-align: center;
	width: 100%;
	padding-top: 60px;
	color: rgb(255, 255, 255);
	font-size: 61px;
	font-weight: 700;
	background-position: center center;
}

iframe
{
	width: 100%;
	height: 500px;
}

/*back-to-top button*/

#back-to-top
{
	background-image: url('../../assets/merge/images/backtotop.png');
	background-size: 48px 48px;
	background-repeat: no-repeat;
	height: 48px;
	width: 48px;
	position: fixed;
	bottom: 17px;
	right: 17px;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.7s linear;
	cursor: pointer;
}

/*footer*/

#second-footer
{
	margin-top: 0px;
}

/* release notes page list styling */

.release-notes--list {
	box-sizing: inherit;
	list-style: none;
	margin: 0px 0px 1rem;
	padding: 0px;
	color: rgb(41, 43, 44);
	font-family: SamsungOne;
	font-size: 14px;
	font-style: normal;
	font-variant-ligatures: normal;
	font-variant-caps: normal;
	font-weight: 400;
	letter-spacing: normal;
	orphans: 2;
	text-indent: 0px;
	text-transform: none;
	white-space: normal;
	widows: 2;
	word-spacing: 0px;
	-webkit-text-stroke-width: 0px;
	background-color: rgb(255, 255, 255);
	text-decoration-style: initial;
	text-decoration-color: initial;
  }

  .release-notes--list-item {
	box-sizing: inherit;
	list-style: none;
	border-bottom: 1px solid rgb(221, 221, 221);
	font-size: 15px;
	padding: 15px 0px;
  }

  .release-notes--list-item a {
	box-sizing: inherit;
	background-color: transparent;
	text-decoration: none;
	color: rgb(2, 117, 216);
	touch-action: manipulation;
  }

/***** Google Search Custom Styles *****/
 .gsc-control-cse.gsc-control-cse
 {
     border: none;
     background: #1279C5;
     background-color: #1279C5;
     padding: 48 0 0 0px !important;
     vertical-align: middle;
     height: 40px;
     font-family: SamsungOne, "trebuchet ms", arial, sans-serif !important;
 }

 .gsc-control-cse-en.gsc-control-cse-en
 {
     border: none;
     background: #1279C5;
     background-color: #1279C5;
     padding: 48 0 0 0px !important;
     vertical-align: middle;
     height: 40px;
     top: 0px;
     font-family: SamsungOne, "trebuchet ms", arial, sans-serif !important;
 }

 .gsc-input.gsc-input
 {
     border: none;
     box-sizing: border-box;
     background-color: #E1E1E1 !important;
     padding: 0 0 0 0px;
     vertical-align: middle;
     font-family: SamsungOne, "trebuchet ms", arial, sans-serif !important;
 }

 .gsc-search-box.gsc-search-box
 {
     border: none;
     background-color: #E1E1E1;
     padding: 0 0 0 0px !important;
     vertical-align: middle;
     margin-top: 0px;
     height: 48px;
     top: 0px;
     font-family: SamsungOne, "trebuchet ms", arial, sans-serif !important;
 }

 .gsc-input-box.gsc-input-box
 {
     border: none;
     background-color: #E1E1E1 !important;
     padding: 0 0 0 0px !important;
     height: 36px;
     font-family: SamsungOne, "trebuchet ms", arial, sans-serif !important;
 }

 .gsc-input.gsc-input
 {
     background-color: #E1E1E1;
     padding: 0 0 0 10px !important;
     vertical-align: middle !important;
     height: 36px;
     font-family: SamsungOne, "trebuchet ms", arial, sans-serif !important;
 }

 .gsc-search-button.gsc-search-button
 {
     border: 3px;
     border-color: #E1E1E1;
     background-color: #E1E1E1;
     vertical-align: middle !important;
     height: 36px;
     font-family: SamsungOne, "trebuchet ms", arial, sans-serif !important;
 }

 .gsc-search-button-v2.gsc-search-button-v2
 {
     border: 3px;
     border-color: #E1E1E1;
     background-color: #E1E1E1;
     vertical-align: middle;
     font-family: SamsungOne, "trebuchet ms", arial, sans-serif !important;
 }

 .gsc-search-button-v2.gsc-search-button-v2:focus{
     border: 0px;
     border-color: #E1E1E1;
     background-color: #E1E1E1;
     vertical-align: middle !important;
     height: 36px;
     font-family: SamsungOne, "trebuchet ms", arial, sans-serif !important;
     outline: none !important;
 }
 .gsc-search-button.gsc-search-button:focus{
     border: 0px;
     border-color: #E1E1E1;
     background-color: #E1E1E1;
     vertical-align: middle !important;
     height: 36px;
     font-family: SamsungOne, "trebuchet ms", arial, sans-serif !important;
     outline: none !important;
 }

 .gsib_a.gsib_a
 {
     background-color: #E1E1E1;
     font-family: SamsungOne, "trebuchet ms", arial, sans-serif !important;
 }

 .gsib_b.gsib_b
 {
     border: none;
     border-width: 0px;
     background-color: #E1E1E1;
     padding: 0 0 0 0px !important;
     vertical-align: middle;
     height: 0px !important;
     font-family: SamsungOne, "trebuchet ms", arial, sans-serif !important;
 }

 .gsc-result-info.gsc-result-info,
 .gsc-orderby-label.gsc-orderby-label
 {
     color: #FFFFFF !important;
     font-family: SamsungOne, "trebuchet ms", arial, sans-serif !important;
 }
 .gsc-completion-container.gssb_c{
     font-family: SamsungOne, "trebuchet ms", arial, sans-serif !important;
 }

 .gssb_c td{
    background-color: #f2f2f2 !important;
    background: #f2f2f2 !important;
    border: none !important;
    font-family: SamsungOne, "trebuchet ms", arial, sans-serif !important;
    color: rgb(41, 43, 44) !important;
}
.gssb_a td{
    background-color: #f2f2f2 !important;
    background: #f2f2f2 !important;
    border: none !important;
    font-family: SamsungOne, "trebuchet ms", arial, sans-serif !important;
    color: rgb(41, 43, 44) !important;
}
.gsc-completion-container tr{
    border-bottom: none !important;
}
.gsc-completion-container {
    border: 1px solid #f2f2f2 !important;
}
table.gsc-above-wrapper-area-container {
    border: none !important;
}
.gsc-above-wrapper-area-container td {
    border: none !important;
}
.gsc-input tr{
    border-bottom: none !important;
}
.gsc-completion-selected:active td {
    color: #f2f2f2 !important;
    background-color:#1279C5 !important;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
.gsc-completion-selected:hover td {
    color: #f2f2f2 !important;
    background-color:#1279C5 !important;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
.gsc-completion-selected {
    cursor: pointer !important;
}
 /***** END: Google Search Custom Styles *****/
