/* -------------- override bootstrap styles--------------  */

@media (max-width:1500px) and (min-width:400px) {
	.navbar-toggleable-md .navbar-nav .nav-link {
		padding-left: 0.1rem;
		padding-right: 0.1rem;
	}
}

@media (max-width: 768px) {
	#second-footer {
		padding-right: 0px;
	}
}

@media only screen and (max-width: 1090px) and (min-width: 625px) {
	.breadcrumbsfix {
		display: none
	}
}

@media (max-width: 768px) {
	.breadcrumbs {
		padding-left: 20px
	}
}

@media only screen and (max-width: 1100px) and (min-width: 1050px) {
	.container {
		margin-left: 0px;
	}
}


}
@media only screen and (max-width: 1400px) and (min-width: 1100px) {
	nav.navbar.navbar-light {
		padding-left: 16px;
	}
}
@media (max-width: 768px) {
	.breadcrumbsfix {
		display: none;
	}
}
@media only screen and (max-width: 1090px) and (min-width: 625px) {
	.breadcrumbsfix {
		display: none
	}
}
@media (max-width: 768px) {
	.breadcrumbs {
		padding-left: 20px
	}
}
@media only screen and (max-width: 1100px) and (min-width: 1050px) {
	.container {
		margin-left: 0px;
	}
}
.navbar-brand {
	padding-right: 5px;
}
.navbar-brand img {
	max-width: 116%;
}

/* -------------- override foundation styles--------------  */
.selected h2 {
	transition: background-color 0.2s ease;
	background-color: #2199e8;
	color: #ffffff;
}
a.selected {
	font-weight: normal;
}
ul.menu li>a.selected {
	font-weight: normal;
}

/* -------------- override madcap styles-------------- */
.MCDropDown_open .MCDropDownHotSpot_.MCHotSpotImage {
	font-size: 1.1rem;
}
.MCDropDownBody {
	border: 1px solid #cacaca;
	padding: 9px;
	margin-bottom: 22px;
	margin-bottom: 12px;
}
.search,
.search-bar {
	width: 62%;
	position: relative;
	color: #DADADA;
	margin: 0 auto;
	padding-top: 7px;
}
._Skins_SearchBar.mc-component .search-field {
	height: 38px;
}
.mc-component._Skins_SearchBar.search-bar {
	padding-top: 12px;
	width: 99%
}
.search-submit-wrapper {
	padding-top: 16px;
}
.mc-component._Skins_SearchBar .search-submit {
	width: 3em;
}
.search-bar._Skins_SearchBar.mc-component {
	padding-top: 13px;
}
tr:first-child {
	background: #217acb;
	color: white;
	font-style: bold;
	border-bottom: 2px solid #cccccc;
}

/* --------------Sasmung custom styles--------------- */
.note {
	padding: 0 0 0 20px;
	border-left: 3px solid;
	margin: 16px 0;
}

/* "on this page box */
@media only screen and (min-width: 501px) {
	.toc-inside {
		margin-top: 20px;
		margin-left: 16px;
	}
}
@media only screen and (max-width: 500px) {
	.toc-inside {
		margin-top: 20px;
		margin-left: 16px;
	}
}
@media only screen and (max-width: 500px) {
	.toc-outside {
		margin-bottom: 15px;
		border: 1px solid #e5e5e5;
	}
}
@media only screen and (min-width: 501px) {
	.toc-outside {
		float: right;
		width: 296px;
		margin-left: 35px;
		margin-top: 0px;
		border: 1px solid #e5e5e5;
	}
}
.toc-inside li {
	padding-bottom: 0px;
}

/*add this class to toc-outside to make "on this page" stretch across the whole page */
.reset {
	width: inherit;
	margin-left: inherit;
	margin-top: inherit;
	border: 1px solid #e5e5e5;
	float: inherit;
	margin-top: 20px;
}
pre>p {
	margin-bottom: 0rem;
}
.blue {
	background-color: rgba(43, 166, 203, 0.11);
}
tr.blue {
	background-color: #1428a0;
	color: white;
	font-style: bold;
}
col.width {
	width: 20%;
}
@media (max-width: 768px) {
	h1 {
		padding-bottom: 25px;
	}
}

/*controls the feedback, was this useful button behaviour (appear, dissapear, etc) */
.feedback-reason {
	display: none;
}
.feedback-question i:hover,
.feedback-question i:focus,
.feedback-question i:active {
	cursor: pointer;
}

/*makes iframe mobile responsive */
.iframe-container {
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
}
.iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

/*controls the filter buttons  */
.filterDiv {
	display: none;
}
.show {
	display: block;
	border: 1px solid #d9d9d9;
	padding: 5px;
}

/* centers any image with class of p  */
p.img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

/*adds border  and padding to image */
.border {
	border: 2px solid #f2f2f2 !important;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*centers anything */
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*header text for new welcome page */
.welcome-header {
	font-family: SamsungSharpSans;
	font-size: 20px;
}