body {
    background-color: #f2f2f2;
}

footer {
    color: #999;
    text-align: center;
    font-size: x-small;
}
@media (prefers-color-scheme: dark) {
    body {
        background: #1b1b27;
    }

    footer {
        color: #999;
        text-align: center;
        font-size: x-small;
    }
}

textarea {
    height: 50%;
}

.required {
    color: #ff0000;
}

.infoicon {
    color: #999;
}

#toast {
    display: flex;
    justify-content: center;
}

#snackbar {
    position: fixed;
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    z-index: 1;
    bottom: 30px;
    font-size: 17px;
  }

#snackbar.show {
    visibility: visible;
}